# Dependency
node_modules/
**/node_modules/

# Next.js
.next/
**/ .next/

# Environment Files (SANGAT PENTING)
.env
.env.local
.env.*
!.env.example
**/.env
**/.env.local

# Build files
dist/
bin/
*.exe